<div class="col-md-12 margin-bottom">
  <div class="pull-right">
      <button [routerLink]="['/']" type="button" class="btn bg-navy margin">Back</button>
  </div>
  <div class="clearfix"></div>
</div>
<div class="col-md-12">
  <!-- Horizontal Form -->
  <div class="box box-info">
      <div class="box-header with-border">
          <h3 class="box-title">{{ 'access_heading' | translate }}</h3>
      </div>
      <br/>
      <!-- /.box-header -->
      <div class="admin-menu">
            <div class="col-xs-12">
                <h2 class="text-danger" style="padding-top: 2%; padding-bottom: 4%;">
                {{ 'access_blocked' | translate }}
                <br/>
                </h2>
            </div>
           
      </div>
      <div class="clearfix"></div>
  </div>
</div>