<div class="col-md-9">
  <div class="bg-white">
    <div class="panel panel-default">
      <div class="panel-body">

        <h2>Active Loads</h2>

        <flexoffersetview [flexoffers]="userFOs"></flexoffersetview>

        <!-- <tabset [justified]="true">

            <tab heading="Portfolio loads" customClass="tab-style" (select)="getPortfolioLoads()">
                <p *ngIf="loading_portfolio">Reoptimizing portfolio. Please wait...</p>
                <flexoffersetview *ngIf="!loading_portfolio" [flexoffers]="portfolioFOs"></flexoffersetview>
            </tab>

            <tab heading="User loads" customClass="tab-style" (select)="getUserLoads()">
            
            </tab>
        </tabset> -->

      </div>
    </div>
  </div>
</div>
